/* main styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif, "Times New Romans";
  min-height: 100vh;
  display: flex;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

/* left panel */
.left-container {
  flex: 0 0 30vw;
  position: relative;
}

.bg-img {
  position: absolute;
  inset: 0;
  background-image: url("./hobbit_sharp.png");
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: clamp(16rem, 100%, 40rem);
}

.logo img {
  width: clamp(4rem, 30%, 8rem);
}

.logo h1 {
  color: rgb(255, 255, 255);
  font-size: clamp(1.2rem, 2.5vw, 3rem);
}

/* right panel */
.right-container {
  display: flex;
  flex-direction: column;
  /* paper texture */
  background-color: #f6f3ee;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  background-size:
    3px 3px,
    5px 5px;
  box-shadow:
    inset 0 0 60px rgba(0, 0, 0, 0.04),
    0 2px 8px rgba(0, 0, 0, 0.06);
}

.form-section {
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2vw;
  overflow: visible;
}

.form-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-main {
  font-size: 0.8em;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7efe3;
  gap: 10px;
  padding: 2vw;
}

.form-row {
  display: flex;
  gap: 7vw;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 400px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="password"]:not(:placeholder-shown):invalid {
  outline: none;
  border-color: red;
}

input[type="password"]:not(:placeholder-shown):valid {
  outline: none;
  border-color: #596d48;
}

button {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #596d48;
  color: #f6f3ee;
  border: none;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
}
