@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* main styling */
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-container {
  display: flex;
  flex: 1;
}

.bg-img {
  display: flex;
  justify-content: left;
  background-image: url(./smaug-cleaned.png);
  background-size: cover;
  height: 100vh;
  width: 40vw;
}
