/* main styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  height: 100vh;
  display: flex;
}

.main-container {
  display: flex;
  min-height: 100vh;
  gap: 10px;
}

.left-container {
  flex: 0 0 40vw;
  position: relative;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bg-img {
  position: absolute;
  inset: 0;
  background-image: url("./smaug-cleaned.png");
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: clamp(16rem, 100%, 40rem);
  background-color: rgba(0, 0, 0, 0.25);
}

.logo img {
  width: clamp(4rem, 20%, 8rem);
}

.logo h1 {
  font-size: clamp(1.2rem, 3vw, 3rem);
}
