/* main styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  height: 100vh;
  display: flex;
}

.main-container {
  display: flex;
  min-height: 100vh;
  gap: 10px;
}

/* left panel */
.left-container {
  flex: 0 0 30vw;
  position: relative;
}

.bg-img {
  position: absolute;
  inset: 0;
  background-image: url("./hobbit_sharp.png");
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: clamp(16rem, 100%, 40rem);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.logo img {
  width: clamp(4rem, 30%, 8rem);
  /* color: rgb(255, 253, 229); */
}

.logo h1 {
  color: rgb(255, 255, 255);
  font-size: clamp(1.2rem, 3vw, 3rem);
}

/* right panel */
.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
